/* ------------------- Logo --------------------------*/

.logo {
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  background-color: var(--brand-brand);                                /*<--- Design Token Alias */
  margin-bottom: var(--space-7);
}



.brandLogo {
  background-image: var(--brand-logo);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: min(100%, var(--brand-logo-width));
  height: var(--brand-logo-height);
  margin-bottom: var(--space-7);
}
