/* ------------------- Panel Sidebar --------------------------*/

/* ------------------- Menu --------------------------*/

.menuList {
    margin-top: var(--space-7);
}

.menuItem {
  padding: var(--space-3);
  border-radius: var(--navigation-item-radius);
}
  
.menuItem.active {
  background-color: var(--navigation-item-active);
  font-weight: bold;
}

.menuItem.active:hover {
  background-color: var(--navigation-item-active);
}
  
.menuItem:not(.active) {
  cursor: pointer;
  color: var(--text-body);                                        /*<--- Design Token Alias */
}


.menuItem a {
  transition: all 0.3 ease 0s;
  text-decoration: none;
  color: var(--text-body);                                        /*<--- Design Token Alias */
}

.menuItem:hover {
  background-color: var(--navigation-item-hover);
}
