/* ------------------- Panel Sidebar --------------------------*/

/* ------------------- Menu --------------------------*/

.menuList {
    margin-top: var(--space-7);
}

.menuItem {
  padding: var(--space-3);
}
  
.menuItem.active {
  background-color: var(--color-primary-200);                     /*<--- Design Token */
  font-weight: bold;
}

.menuItem.active:hover {
  background-color: var(--color-primary-200);                     /*<--- Design Token */
}
  
.menuItem:not(.active) {
  cursor: pointer;
  color: var(--text-body);                                        /*<--- Design Token Alias */
}


.menuItem a {
  transition: all 0.3 ease 0s;
  text-decoration: none;
  color: var(--text-body);                                        /*<--- Design Token Alias */
}

.menuItem:hover {
  background-color: var(--color-primary-100);                     /*<--- Design Token Alias */
} 