:root {
  /* COLOR */
  --brand-brand: #2d739d;
  --button-hover-destructive: #fdf5f5;
  --button-hover-outline: #d3e7f3;
  --button-hover-primary: #1c4963;
  --button-hover-secondary: #075e46;
  --button-surface-destructive: #dc2626;
  --button-surface-outline: #ffffff;
  --button-surface-outline-border: #2d739d;
  --button-surface-primary: #2d739d;
  --button-surface-secondary: #018140;
  --button-text-destructive: #ffffff;
  --button-text-outline: #141414;
  --button-text-primary: #ffffff;
  --button-text-secondary: #141414;
  --color-base-black: #000000;
  --color-base-white: #ffffff;
  --color-danger-100: #fdf5f5;
  --color-danger-200: #f2acac;
  --color-danger-300: #e76c6c;
  --color-danger-400: #dc2626;
  --color-danger-500: #9e1919;
  --color-danger-600: #5e0f0f;
  --color-informative-100: #ebf2fe;
  --color-informative-200: #a4c5fb;
  --color-informative-300: #5d97f8;
  --color-informative-400: #156af4;
  --color-informative-500: #084bb7;
  --color-informative-600: #052b69;
  --color-neutral-100: #f1f4f4;
  --color-neutral-200: #ced5dd;
  --color-neutral-300: #98a7b7;
  --color-neutral-400: #6c8199;
  --color-neutral-500: #3e4b59;
  --color-neutral-600: #141414;
  --color-primary-100: #ebf4f9;
  --color-primary-200: #d3e7f3;
  --color-primary-300: #499acb;
  --color-primary-400: #2d739d;
  --color-primary-500: #1c4963;
  --color-primary-600: #0c1e2a;
  --color-secondary-100: #eff8ed;
  --color-secondary-200: #b5d8ab;
  --color-secondary-300: #44a64e;
  --color-secondary-400: #018140;
  --color-secondary-500: #075e46;
  --color-secondary-600: #00371b;
  --color-success-100: #aef1c7;
  --color-success-200: #6ee69a;
  --color-success-300: #2fdb6e;
  --color-success-400: #2fdb6e;
  --color-success-500: #1ca44e;
  --color-success-600: #116430;
  --color-warning-100: #fffbf2;
  --color-warning-200: #ffe29d;
  --color-warning-300: #ffcb52;
  --color-warning-400: #ffb301;
  --color-warning-500: #b67f00;
  --color-warning-600: #6b4b00;
  --grid-border-bold: #6c8199;
  --grid-border-faint: #ced5dd;
  --grid-border-subtle: #98a7b7;
  --grid-row-hover: #ebf4f9;
  --grid-row-surface: #ffffff;
  --surface-dark: #000000;
  --surface-light: #ffffff;
  --surface-neutral-bold: #3e4b59;
  --surface-neutral-faint: #f1f4f4;
  --surface-neutral-subtle: #ced5dd;
  --surface-primary-bold: #1c4963;
  --surface-primary-faint: #ebf4f9;
  --surface-primary-subtle: #d3e7f3;
  --surface-secondary-bold: #075e46;
  --surface-secondary-faint: #eff8ed;
  --surface-secondary-subtle: #b5d8ab;
  --text-body: #141414;
  --text-dark: #000000;
  --text-destructive: #dc2626;
  --text-faint: #ced5dd;
  --text-light: #ffffff;
  --text-link: #dc2626;
  --text-link-hover: #e76c6c;
  --text-subtle: #6c8199;
}
