.context {
  font-family: var(--eyebrow-font-family);
  font-weight: var(--eyebrow-font-weight);
  font-size: var(--eyebrow-font-size);
  line-height: var(--eyebrow-line-height);
  letter-spacing: var(--eyebrow-letter-spacing);
  text-transform: var(--eyebrow-text-transform);
}

.label-l {
  font-family: var(--font-label);
  font-weight: var(--font-weight-label);
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.5px;
}

.label-m {
  font-family: var(--font-label);
  font-weight: var(--font-weight-label);
  font-size: 16px;
  line-height: 1;
}

.label-s {
  font-family: var(--font-label);
  font-weight: var(--font-weight-label);
  font-size: 12px;
  line-height: 1.33;
}

.text-2-xl {
  font-family: var(--font-body);
  font-weight: var(--font-weight-body);
  font-size: 45px;
  line-height: 1.24;
}

.text-l {
  font-family: var(--font-body);
  font-weight: var(--font-weight-emphasis);
  font-size: 24px;
  line-height: 1.33;
}

.text-m {
  font-family: var(--font-body);
  font-weight: var(--font-weight-body);
  font-size: 20px;
  line-height: 1.6;
}

.text-s {
  font-family: var(--font-body);
  font-weight: var(--font-weight-body);
  font-size: 16px;
  line-height: 1.5;
}

.text-xl {
  font-family: var(--font-body);
  font-weight: var(--font-weight-body);
  font-size: 40px;
  line-height: 1.4;
}

.text-xs {
  font-family: var(--font-body);
  font-weight: var(--font-weight-body);
  font-size: 11px;
  line-height: 1.45;
}

.title-2-xl {
  font-family: var(--font-title);
  font-weight: var(--font-weight-title);
  font-size: 45px;
  line-height: 1.24;
}

.title-l {
  font-family: var(--font-title);
  font-weight: var(--font-weight-title);
  font-size: 24px;
  line-height: 1.33;
}

.title-m {
  font-family: var(--font-title);
  font-weight: var(--font-weight-title);
  font-size: 20px;
  line-height: 1.6;
}

.title-s {
  font-family: var(--font-title);
  font-weight: var(--font-weight-title);
  font-size: 16px;
  line-height: 1.5;
}

.title-xl {
  font-family: var(--font-title);
  font-weight: var(--font-weight-title);
  font-size: 40px;
  line-height: 1.4;
}

.title-xs {
  font-family: var(--font-title);
  font-weight: var(--font-weight-title);
  font-size: 11px;
  line-height: 1.45;
}
