:root {
  /* VECTOR */
  --bell: "https://s3-us-west-2.amazonaws.com/figma-alpha-api/img/243b/5bfe/450e30ec19e4a2ed2b354d6626a98f0a";
  --bookmark: "https://s3-us-west-2.amazonaws.com/figma-alpha-api/img/c740/c418/ec606b372e35507a42a582b55b62b900";
  --briefcase: "https://s3-us-west-2.amazonaws.com/figma-alpha-api/img/fb2a/5217/ef8e131d9cd6f1c4aa508d02233398e8";
  --cash: "https://s3-us-west-2.amazonaws.com/figma-alpha-api/img/d17f/d367/94c04912330f7a011ce436e9aee29eda";
  --check: "https://s3-us-west-2.amazonaws.com/figma-alpha-api/img/6c9a/246b/70e75352f24f985ddb4a5cb772b1558f";
  --cog: "https://s3-us-west-2.amazonaws.com/figma-alpha-api/img/3586/15cd/1322b0098c5285e76fa2654748f12a97";
  --eye: "https://s3-us-west-2.amazonaws.com/figma-alpha-api/img/7860/6a25/3f15e2b89c6bb15299f4fef9e68b8b64";
  --home: "https://s3-us-west-2.amazonaws.com/figma-alpha-api/img/3072/6a36/20b711577ef68c455967b81c3c0939df";
  --mail: "https://s3-us-west-2.amazonaws.com/figma-alpha-api/img/6612/3245/b78a8f94681bfbd78dae13e0c337ced8";
  --pencil: "https://s3-us-west-2.amazonaws.com/figma-alpha-api/img/3586/6d39/5f73a458eb1c5e8f8162c826ba018f4e";
  --pencil-alt: "https://s3-us-west-2.amazonaws.com/figma-alpha-api/img/42e4/e2d1/04429d30f7871ece70acc6b9c3f0606b";
  --shield-check: "https://s3-us-west-2.amazonaws.com/figma-alpha-api/img/2dd4/3489/7b47742d37d6db07f7943247144db0a8";
  --shield-exclamation: "https://s3-us-west-2.amazonaws.com/figma-alpha-api/img/f3bf/b95e/a9085587a018fc4a7be3c57fb90102fa";
  --translate: "https://s3-us-west-2.amazonaws.com/figma-alpha-api/img/788b/6b79/171247f111ee9f39e4de754a29606b7f";
}
